@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    background: #494949;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Define the scrollbar track (background) color */
  ::-webkit-scrollbar-track {
    background: #1b1b1b;
  }

  /* Define the scrollbar thumb (handle) color */
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 6px;
  }

  /* Define the scrollbar thumb (handle) hover color */
  ::-webkit-scrollbar-thumb:hover {
    background: #383838;
  }

  firefox-scrollbar-fix {
    scrollbar-width: none;
  }
}
